{%extends 'layouts/blank.html' %}
{%load static%}
{%block content%}

    <div class="container">
        <h1>Fake News Detection</h1>
        <form id="newsForm">
            <label for="title">Title:</label><br>
            <input type="text" id="title" name="title" required><br><br>
            <label for="body">Body:</label><br>
            <textarea id="body" name="body" rows="6" required></textarea><br><br>
            <button type="submit">Check News</button>
        </form>
        <div id="result"></div>
    </div>
    <script src="{%static 'css/app.js' %}"></script>


{%endblock%}